.card-body {
    padding: 0 25px;
  }
  
  .thumbnail {
    width: 85%;
    height: 85%;
    margin: 25px;
  }
  
  .gallery {
    margin-top: 10px;
    text-align: center;
  }
  
  .card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
  }
  
  .commentcard { 
    border-radius: 8px;
    margin-top: 30px;
  }
  
  .no-comment { 
    margin-top: 40px;
    text-align: center;
  }
  
  .mat-card-reshaped {
    background-color: rgba(255, 255, 255, 0.787);
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: 800px;
  }
  
  .mat-sidenav-container,
  .mat-sidenav-content,
  .mat-tab-body-content {
    transform: none !important;
  }
  
  .dodajKomentar { 
    text-align: center;
    margin-top: 30px;
  }
  
  .divider { 
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mat-card {
    background-color: rgba(255, 255, 255, 0.787);
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  input {
    max-width: 210px;
  }
  
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  
  .fullwidth {
    min-width: 100%;
  }
  
  .container { 
    min-height: 100%;
  }
  
  .row {
    margin-right: 10px;
  }
  
  .newButton { 
    margin-right: 200px;
  }
  
  .searchButton {
    width: 100%;
    text-align: center;
  }
  
  .smallheight {
    height: 70px;
  }
  
  .resetButton {
    margin-left: 20px;
  }
  
  .fullheight {
    height: 100px;
    width: 100%;
  }
  
  .title {
    color: white;
    border: 1px black;
    font-size: 32px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 70px;
    box-sizing: border-box;
    font-style: italic;
  }
  
  